:root{
    --very-dark: #1B1D23;
    --dark-gray: #60636D;
    --meidum-gray: #7D828F;
    --light-gray: #C8CCD8;
    --very-light-gray: #EEEFF4;
    --error-red: #DF5656;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

/* utils */
.container{
    width: 70%;
    margin: 0 auto;
}

h2{
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
/* header */
.header-wrapper{
    display: flex;
    gap: 3rem;
    align-items: baseline;
    padding: 3rem 0;
}

.header-logo a{
    color: var(--very-dark);
}

.header-logo h3{
    font-size: 3rem;
    letter-spacing: .1;
    color: var(--very-dark);
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap:1rem;
}

.header-nav li a{
    color: var(--meidum-gray);
    font-weight: 500;
}

/* hero */
.hero-wrapper{
    background-image: url(../assets/home/desktop/image-hero-paramour.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.hero-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 10rem;
    justify-content: center;
    gap: 1rem;
}

.hero-text h1{
    font-size: 5rem;
    font-weight: 900;
    line-height: 4rem;
    color:var(--very-light-gray);
}

.hero-text p{
    color: var(--very-light-gray);
}

.jumbo-btn{
    color: var(--very-light-gray);
    background-color: var(--very-dark);
    padding: 1rem;
    width: 10rem;
    height: 3rem;
}

.hero-page-number{
    display: flex;
    align-items: center;
    padding: 1.5rem 0; 
    position: absolute;
    left: -4rem;
}

.hero-page-number li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--very-light-gray);
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-page-number li a{
    color: var(--very-dark);
}

.hero-page-number .active{
    background-color: var(--very-dark);
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-page-number .active a{
    color: var(--very-light-gray);
}

.giant-title{
    font-size: 15rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--very-light-gray);
    margin: 1rem 0;
    padding-top: 6rem;
}

.welcome-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welcome-wrapper .welcome-text{
    display: flex;
    flex-direction: column;
    width: 53%;
    padding-left: 10rem;
    justify-content: center;
    gap: 2rem;
    text-align: inherit;
    justify-content: flex-start;
    padding-top: 8rem;
}
.welcome-image{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 10rem;
    justify-content: center;
    gap: 1rem;
    z-index: -1;
}
.welcome-wrapper .welcome-image{
    background-image: url(../assets/home/desktop/image-welcome.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 500px;
    min-width: 350px;
}

.about-wrapper{
    display: flex;
    background-image: url(../assets/home/desktop/image-small-team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    position: relative;
    margin-top: 6rem;
}

.about-text{
    width: 31ch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-left: 11rem;
    color: var(--very-light-gray);
}

.featured-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.featured-text h2{
    font-size: 2rem;
    font-weight: 500;
}

.featured-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.featured-card-text{
    position: relative;
    top: -5rem;
    left: 2rem;
    color: var(--very-light-gray);
}

.featured-card-text h3{
    font-size: 1.5rem;
    font-weight: 500;
 
}


.featured-card-text a{
    color: var(--very-light-gray);
}

.featured-card-image img{
    width: 100%;
    height: 100%;
    background: rgba(50, 70, 80, 0.7);
}

.featured-card-image{
    position: relative;
}

.featured-card-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: var(--very-dark);
    opacity: .5;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo-nav{
    display: flex;
    width: 90%;
    background-color: var(--light-gray);
    align-items: center;
}

.footer-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
}

.footer-logo-nav h3{
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--very-light-gray);
    background-color: var(--very-dark);
}

.footer-logo-nav a{
    color: var(--very-dark);
}